<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravelBuddy">
        <activity
            android:name=".Itinerary.TripDetailFragment"
            android:exported="false" />
        <!-- Google Maps API key -->
        <!-- add API key below -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCEjKXcOND_DK6RCm7DiHMh3qingdP7r9M" />

        <activity
            android:name=".HomepageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".Testing"
            android:exported="false" />
        <activity
            android:name=".questions.FailedToCreate"
            android:exported="false" />
        <activity
            android:name=".questions.CreatedAccount"
            android:exported="false" />
        <activity
            android:name=".questions.PersonalQuestion5"
            android:exported="false" />
        <activity
            android:name=".questions.PersonalQuestion4"
            android:exported="false" />
        <activity
            android:name=".questions.PersonalQuestion3"
            android:exported="false" />
        <activity
            android:name=".questions.PersonalQuestion2"
            android:exported="false" />
        <activity
            android:name=".questions.PersonalQuestion1"
            android:exported="true" />
        <activity
            android:name=".questions.PersonalQuestion0"
            android:exported="true" />
        <activity
            android:name=".ForgotPwd1"
            android:exported="false" />
        <activity
            android:name=".Login1"
            android:exported="false" />
        <activity
            android:name=".Signup1"
            android:exported="false" />
    </application>

</manifest>